.header {
  position: relative;
  background-color: #5964e0;
  overflow: hidden;
  height: 161px;
  max-height: 161px;
  border-bottom-left-radius: 100px;
}
.triangle {
  position: relative;
  overflow: visible;
}
