.header {
  position: relative;
  background-color: #5964e0;
  overflow: hidden;
  height: 161px;
  max-height: 161px;
  border-bottom-left-radius: 100px;
}
.triangle {
  position: absolute;
  z-index: 0;
  overflow: visible;
}
.MuiToolbar-root {
  margin: auto;
  margin-top: 44px;
  max-width: 995px;
  padding: 0;
  width: 100%;
  z-index: 1;
}
