@import "bootstrap/scss/bootstrap-utilities.scss";

html,
body,
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  height: 100%;
  flex-grow: 1;
}
@include media-breakpoint-down(sm) {
  .header {
    border-bottom-left-radius: 0;
  }
}
